#div1 {position:relative;width:280px; height:280px;}
#div1 a {position:absolute; top:0px; left:0px; font-family: Microsoft YaHei; color:#666; font-weight:bold; text-decoration:none; padding: 1px; }
#div1 a:hover {border: 1px solid #690; color:#690;}