<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <title>Noderce 管理中心</title>
    <link rel="stylesheet" href="/admin/assets/style.css">
    <script src="/libs/jquery.min.js"></script>
    <style>
      #navcat-list li{ position: relative;}
      #navcat-list li .info{ position: absolute;  top: 0; right: 10px;}
    </style>
  </head>
  <body>
    <div id="wrapper">
      <div id="nav">
        <ul>
          <li><a href="/admin">Home</a><span> ›</span></li>
          <li><a href="/admin/comment">Comments</a>
        </ul>
        <div class="quick"><a href="/admin/post/write" title="Write Post"><span>Write</span></a></div>
      </div>
      <div id="navcat">
        <div class="navcat_form">
          名称:<input type="text" placeholder="名称" id="title" name="title" value=""/> <br>
          URL:<input type="text" placeholder="URL" id="url" name="url" value=""/><br>
          cat_id:<input type="text" placeholder="cat_id" id="cat_id" name="cat_id" value=""/><br>
          描述:<input type="text" placeholder="描述" id="content" name="content" value=""/><br>
          id:<input type="text" id="id" name="id" value="" readonly="readonly" /><br>
          <input type="button" onclick="save()" value="确定" />
        </div>
        
      <div id='navcat-list'>
      	<ul>
      		<% nav_list.forEach(function(item){ %>
      		<li>
            <input type="checkbox" data-id="<%=item.id%>" />
      			<a><%= item.title %></a>
      			<span class="info">
              <span class="parentid">cat_id:<%= item.cat_id %></span>
              <span>id:<%= item.id %></span>
              <a class='action delete' href='/admin/nav_list/delete/<%=item.id%>'>Delete</a>
              <a class='action spam' href='javascript:' onclick="edit('<%= item.id %>','<%= item.title %>','<%= item.content %>','<%= item.url %>','<%= item.cat_id %>')">修改</a>   
              <span>Status:<%= item.status %></span>
              <time><%= item.created %></time>
            </span>
            <div style="display:none;"><%= item.url %></div>
            <div style="display:none;"><%= item.content %></div>
      		<% }); %>
      	</ul>
      </div>
      <div id='clearfix'></div>
    </div>
    <script type="text/javascript">
      function save(){
        var data = {
          id: $('#id').val(),
          title: $('#title').val(),
          url: $('#url').val(),
          content: $('#content').val(),
          cat_id: $('#cat_id').val()
        }
        $.ajax({
          'url':'/admin/nav_list_save',
          'type':'post',
          'datatype':'json',
          'data':data,
          'error': function(err){

          },
          'success':function(msg){
            if(msg.success){
              window.location.href=window.location.href;
            }
          }
        })
      }
      function edit(id,title,content,url,cat_id){
        $('#id').val(id);
        $('#title').val(title);
        $('#url').val(url);
        $('#content').val(content);
        $('#cat_id').val(cat_id);
      
      }
      (function(){
        
      })();
    </script>
  </body>
</html>