<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title><%=title%>-前端技术-后端技术-web技术分享博客</title>
    <meta name="robots" content="all">
    <meta name="keywords" content="<%=keywords%>">
    <meta name="description" content="<%=description%>">
    <link rel="stylesheet" href="/theme/assets/style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script src="<%=site_url%>/libs/jquery.min.js"></script>
    <meta name="baidu-site-verification" content="utxPb5ydcW" />
    <meta property="qc:admins" content="10415174750607" />
    <meta name="chinaz-site-verification" content="081e7651-48c6-4c2f-a569-99321685eab1" />
    <meta name="baidu_union_verify" content="5bd4efaab2b868a82ad01ad3c4c67446">
    <meta name="360-site-verification" content="9960df046c193b7babccae771f010ddb" />
    <meta name="google-site-verification" content="l1xhngXylrg37GJctu8fibfunA-tkIg088VO8pr3ghc" />
    <!--[if IE]>
    <script src="<%=site_url%>/libs/html5.js"></script>
    <![endif]-->
    <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?0224451f8df22a9bcbff7232d2df85d5";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

  </head>
  <body>
    <header id="main-header">
      <div class="container"><a id="logo" href="<%=site_url%>" title="<%=name%>"><%=name%></a>
        <nav>
          <ul>
              <li><a href="<%=site_url%>/page/about" title="关于我">关于我</a></li>
              <li><a href="<%=site_url%>/archives" title="文章存档">文章存档</a></li>
              <li><a href="http://tool.9958.pw/" title="时光机">在线工具</a></li>
              <li><a href="<%=site_url%>/nav" title="网址导航">网址导航</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <%- body %>
    <footer id="main-footer">
    <div class="container">
      <p>
	  我的：
	  <a href="http://blog.csdn.net/ldl_xz" target="_blank">csdn博客</a>
	  | <a href="http://www.cnblogs.com/rin9958/" target="_blank">博客园</a>
	  | <a href="http://ldl-xz.iteye.com/" target="_blank">iteye博客</a>
	  | <a href="https://github.com/9958" target="_blank">github</a>
	  | <a href="http://blog.sina.com.cn/u/2587900712" target="_blank">新浪博客</a>
	  | <a href="http://my.oschina.net/u/1179286" target="_blank">开源中国博客</a>
          | <a href="<%=site_url%>/sitemap.html" target="_blank" title="网站地图">网站地图</a> 
		  | <a href="<%=site_url%>/sitemap.xml" target="_blank" title="sitemap">sitemap</a> 
      </p>
      <p>
	  Copyright © Rin部落 All Rights Reserved   
	  <a href="http://www.miitbeian.gov.cn/" target="_blank">沪ICP备14000208号</a>
	  <script src="http://s11.cnzz.com/stat.php?id=5320846&web_id=5320846" language="JavaScript"></script></p>
    </div>
    </footer>
<script type="text/javascript">
$(document).ready(function(){
$(window).scroll(function(){
if($(this).scrollTop()>100){
$('.top').fadeIn();}
else{
$('.top').fadeOut();} });
$('.top').click(function(){
$('body,html').animate({scrollTop:0},800);});
});

</script>
<style>
.top {position: fixed;display: none;width: 55px;height: 55px;right: 50px;bottom: 70px;
background: #49483e;color: #fff;font-size: 36px;line-height: 55px;text-align: center;
cursor: pointer;border-radius: 40px;transition-property: background;transition-duration: 0.5s;
-webkit-transition-property: background;-webkit-transition-duration: 0.5s;-moz-transition-property: background;
-moz-transition-duration: 0.5s;
}
</style>
<div class="top">↑
</div>



  </body>
</html>
